<%= render 'layouts/list', book: Book.new, user: @user %>

<h1>Users</h1>
<table>
  <thead>
    <tr>
      <td>image</td>
      <td>name</td>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td></td>
      <td><%= user.name %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>