<div class="container">
  <div class="row">
    <div class="col-lg">
      <h1 style="text-align:center;">Welcome to <i class="fas fa-book"></i>Bookers!</h1>
      <br>
      <br>
      <p style="text-align:center;">CopyRight Infratop.inc</p>
    </div>
  </div>
</div>